<div class="modal" id="subnets_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Subnets</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @subnets.each do |subnet| %>
          <tr>
            <td><%= subnet.name %></td>
            <td><a href="#">Remove</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <form class="well form-inline">
      <span class="help-block">Add new subnet:</span>
      <input type="text" class="span3" placeholder="Name…">
      <button type="submit" class="btn">Add</button>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
