/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

.status_bar {
  width: 13%;
  height: 20px;
  position: fixed;
  bottom: 14px;
  left: 14px;
  z-index: 100000;
  box-shadow: 0px 0px 3px #7f7f7f;
  -webkit-box-shadow: 0px 0px 3px #7f7f7f;
  -moz-box-shadow: 0px 0px 3px #7f7f7f;
  display: none;
  padding-left: 24px;
  background: #fff 3px 2px url('/assets/loading.gif') no-repeat;
  opacity: 0.7;
  filter: alpha(opacity = 70); /* IE8 and earlier */
}
