<center>
  <p class="lead" style="margin-top: 50px;">
    Need to request a static IP or firewall exemption?<br />You've come to the right place.
  </p>

  <%= link_to "Log in", new_reservation_path, :class => "btn btn-primary btn-large", :style => "width: 400px; margin-top: 40px;" %>
</center>
